form input, form textarea{
    margin: 10px 0;
    padding: 20px;
    outline: none;
    /* background-color: cadetblue; */
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

form input:focus,form input:valid{
    border-color: black;
}

form button{
    padding: 15px;
    background-color: #bbbfce;
    color: #060c21;
    font-size: 25px;
    border: 0;
    outline: none;
    width: 200px;
    cursor: pointer;
    margin: 20px auto 0;
    border-radius: 30px;
    transition-duration: 0.4s;
}
 form button:hover{
    background-color: black;
    color: white
 }
form h2{
    color: black;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}
form{
    position: relative;
    background-color: rgba(8, 225, 225, 0.688);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 120%;
    max-width: 800;
    border-radius: 10px;
    top: 1%;
    height: 600px;

}
.send_msg { 
    /* position: absolute; */
    padding: 2px;
    margin: 2px;
    position: relative;
    left: -10%;
}
.container_contact{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 2%;
    left: 0.5%;
}

#msg{
    position: relative;
    left: -47%;
    /* border-left: 24px solid red; */
    transform: rotate(270deg);
    top: -16%;
    font-size: 100px;
    background: linear-gradient(to right, midnightblue, midnightblue 50%, royalblue 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 500ms ease;
}
#msg:hover{
    background-position: 0 100%;
}

